//colors
$c-accent: #f27171;
$c-accent2: #42b3c4;
$c-bg: #f3f6f7;
$c-gray: #d6d7d8;
$c-gray-light: #f5f5f5;
$c-link: #61baab;
$c-link-hover: #58ad9f;
$c-text: #222;
$c-white: #fff;

$c-DarkSlateGray: DarkSlateGray;

//fonts
$f-main: "Roboto";
$f-open-sans: "Open Sans";
$f-merriweather: "Merriweather";


// * {
//   border-style: solid;
//   color: black;
// }

html {
  height: 100%;
}

body {
  background-color: $c-bg;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh; /* Avoids the IE 10-11 `min-height` bug... */
  margin: 0;
  min-height: 100%;
  padding-bottom: 40px;
  position: relative;
}

.content {
  flex: 1 0 auto; /* Prevents Chrome and Safari from letting these items shrink past their content's default min size. */
  // padding: 20px;
}

h1 {
  color: $c-DarkSlateGray;
  display: block;
  font-family: $f-merriweather, serif;
  font-size: 24px;
  font-weight: 700;
  margin: 24px 0;
  padding: 64px 0 0 0;
  text-align: center;
}

h2 {
  color: $c-text;
  font-family: $f-open-sans;
  font-size: 20px;
  margin: 24px 0;
}

p {
  font-family: $f-main, sans-serif;
  font-size: 14px;
  // line-height: 1.5;
  max-width: 100%;
  text-align: center;
}

.description {
  font-style: italic;
  text-align: left;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $c-link;
  &:hover {
      color: $c-link-hover;
      cursor: pointer;
    }
}

figure {
  display: block;
  font-color: $c-gray;
  font-family: $f-open-sans, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
}

.main {
  color: $c-text;
}

#resume-main {
  padding: 40px;
}


#home-content {
  background-color: $c-bg;
  height: 90%;
}

  #home-main {
    text-align: center;
    display: inline;
    margin: auto;
  }

  .main-title {
    color: $c-text;
    font-family: $f-main, sans-serif;
    font-weight: 700;
    font-size: 60px;
  }

  .homepage-btn-div {
    text-align: center;
  }

  .homepage-btn {
  background: $c-text;
  border: none;
  border-radius: 2px;
  color: $c-white;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
  text-decoration: none;
    &:hover {
      background: #3d3d3d;
      cursor: pointer;
    }
  }

#about-main {
  background-color: $c-bg;
  width: 80%;
  margin: auto;
}

#blog-main {
  background-color: $c-bg;
  width: 80%;
  margin: auto;
}

  .blog-list {
    color: $c-text;
    font-family: $f-main, sans-serif;
    font-size: 14px;
  }