//colors
$c-accent: #f27171;
$c-accent2: #42b3c4;
$c-bg: #f3f6f7;
$c-gray: #d6d7d8;
$c-gray-light: #f5f5f5;
$c-link: #61baab;
$c-link-hover: #58ad9f;
$c-text: #222;
$c-white: #fff;

//fonts
$f-main: "Roboto";
$f-merriweather: "Merriweather";


// * {
//   border-style: solid;
//   color: black;
// }

html {
  height: 100%;
}

body {
  background-color: $c-bg;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh; /* Avoids the IE 10-11 `min-height` bug... */
  margin: 0;
  min-height: 100%;
  padding-bottom: 40px;
  position: relative;
}

.content {
  background-color: $c-bg;
  flex: 1 0 auto; /* Prevents Chrome and Safari from letting these items shrink past their content's default min size. */
  // padding: 20px;
  // height: 90%;
}

h1 {
  color: $c-text;
  display: block;
  font-family: $f-main, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 54px 0 24px 0;
  // padding: 64px 0 0 0;
  text-align: center;
}

h2 {
  color: $c-text;
  display: block;
  font-family: $f-main, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 24px 0;
  text-align: center;
}

h3 {
  color: $c-text;
  display: block;
  font-family: $f-main, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

p {
  font-family: $f-main, sans-serif;
  font-size: 14px;
  margin: 24px 40px;
  text-align: left;
}

figure {
  text-align: center;
}

figcaption {
  font-family: $f-main, sans-serif;
  font-size: 12px;
  text-align: center;
}

ul {
  font-family: $f-main, sans-serif;
  font-size: 14px;
  max-width: 100%;
  text-align: left;
}

hr {
  margin: 0 40px;
}

.description {
  font-style: italic;
  text-align: left;
}

a {
  text-decoration: none;
  color: $c-link;
  &:hover {
      color: $c-link-hover;
      cursor: pointer;
    }
}

code {
  background-color: $c-bg;
  border-radius: 2px;
  line-height: 2;
  padding: 8px;
  text-align: left;
}

.extraPadding {
  margin-bottom: 170px;
}

.main {
  background: $c-white;
  display: block;
  // height: 100%; (THIS BREAKS THE FOOTER)
  padding: 24px 0;
}

  #home-main {
    background: $c-white;
    height: 550px;
    margin: auto;
    // padding: 80px;
    text-align: center;
  }

  .main-title {
    color: $c-text;
    font-family: $f-main, sans-serif;
    font-weight: 700;
    font-size: 55px;
    margin: auto;
    padding: 200px 0 16px 0;
  }

  .homepage-btn {
  background: $c-text;
  border: none;
  border-radius: 2px;
  color: $c-white;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 24px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
    &:hover {
      background: #3d3d3d;
      cursor: pointer;
    }
  }

#about-main {
  background-color: $c-gray-light;
  margin: auto;
  padding: 24px 0 40px 0;
  text-align: center;
  width: 100%;
}

  .aboutPara {
    font-family: $f-main, sans-serif;
    font-size: 14px;
    margin: 24px 40px;
  }

  #aboutImage {
    display: inline;
    margin: 0 auto;
  }

  .aboutParaDiv {
    float: left;
    margin-right: 24px;
    width: 66%;
  }

  .aboutImageDiv {
    margin-right: 40px;
  }

@media only screen and (max-width: 1000px) {
  .aboutParaDiv {
    float: none;
    width: 100%;
  }
}

#contact-main {
  background-color: $c-white;
  margin-bottom: 0;
  padding: 24px 0 40px 0;
  text-align: center;
  width: 100%;
}

  form input, form textarea {
    padding: 12px 20px;
    margin: 8px 24px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
      &::placeholder {
        color: $c-gray;
        font-family: $f-main, sans-serif;
        font-size: 14px;
      }
      &:active {
        outline: none;
      }
  }

  .shortForm {
    min-width: 90%;
  }

  form input[type="text"] {
    color: $c-text;
    font-family: $f-main, sans-serif;
    font-size: 14px;
    margin: 0;
    margin-bottom: 8px;
    margin-right: 12px;
    outline: none;
    width: 45%;
    &:focus {
      border: 1px solid $c-accent2;
    }
  }

  form input[type="email"] {
    color: $c-text;
    font-family: $f-main, sans-serif;
    font-size: 14px;
    margin: 0;
    margin-bottom: 8px;
    margin-left: 12px;
    outline: none;
    width: 45%;
    &:focus {
      border: 1px solid $c-accent2;
    }
  }

  form textarea {
    color: $c-text;
    font-family: $f-main, sans-serif;
    font-size: 14px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
    min-width: 92%;
    outline: none;
    &:focus {
      border: 1px solid $c-accent2;
    }
  }

  .submitBtn {
  background: $c-text;
  border: none;
  border-radius: 2px;
  color: $c-white;
  font-size: 12px;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
    &:hover {
      background: #3d3d3d;
      cursor: pointer;
    }
    &:disabled {
      background: $c-gray;
    }
  }

#resume-main {
  background: $c-bg;
  padding: 64px 0 40px 0;
}

  #resume-img {
  display: block;
  margin: 0 auto;
  }