//colors
$c-accent: #f27171;
$c-bg: #f3f6f7;
$c-link: #61baab;
$c-link-hover: #387c71;
$c-text: #222;
$c-white: #fff;

$c-DarkGray: DarkGrey;
$c-DarkSlateGray: DarkSlateGray;

//fonts
$font_open-sans: "Open Sans";
$font_sans-serif: "sans-serif";
$font_merriweather: "Merriweather";
$font_serif: "serif";


// * {
//   border-style: solid;
//   color: black;
// }

html {
  height: 100%;
}

body {
  background-color: $c-bg;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoids the IE 10-11 `min-height` bug... */
  position: relative;
  margin: 0;
  padding-bottom: 40px;
  min-height: 100%;
}

header {
  background-color: $c-white;
  box-shadow: 0 1px 5px 0 rgba(34, 34, 34, 0.2);
  display: block;
  list-style-type: none;
  margin: 0;
  min-height: 50px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  float: left;
  padding: 12px 24px;
}

.nav-item {
  color: $c-text;
  font-family: $font_open-sans, $font_sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: $c-link;
  }
}

.content {
  flex: 1 0 auto; /* Prevents Chrome and Safari from letting these items shrink past their content's default min size. */
  padding: 20px;
}

h1 {
  color: $c-DarkSlateGray;
  display: block;
  font-family: $font_merriweather, $font_serif;
  font-size: 24px;
  font-weight: 700;
  margin: 24px 0;
  padding: 64px 0 0 0;
  text-align: center;
}

h2 {
  color: $c-text;
  font-family: $font_open-sans;
  font-size: 20px;
  margin: 24px 0;
}

p {
  font-family: $font_open-sans, $font_sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 250px;
  max-width: 100%;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

figure {
  display: block;
  font-color: $c-DarkGray;
  font-family: $font_open-sans, $font_sans-serif;
  font-size: 14px;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
}

.main {
  color: $c-text;
}

#home-main {
  background-color: $c-white;
}

#resume-main {
  padding: 40px;
}

.main-title {
  color: $c-text;
  font-family: $font_open-sans, $font_sans-serif;
  font-weight: 700;
  font-size: 60px;
}

.footer {
  background-color: $c-accent;
  bottom: 0;
  flex-shrink: 0;
  left: 0;
  min-height: 40px;
  padding: 8px;
  right: 0;
  text-align: center;
}

  .footer-text {
    color: $c-white;
    float: left;
    font-size: 12px;
    margin-left: 24px;
    margin-top: 12px;
  }

  .footer-links {
    color: $c-white;
    padding: 6px;
    text-decoration: none;
    &:hover {
      color: $c-white;
    }
  }

  .social-media {
    color: $c-white;
    float: right;
    padding: 12px 24px 0 0;
    text-align: center;
  }