#blog-main {
  background-color: #f3f6f7;
  margin-left: 40px;
  margin-right: 40px; }

.blog-list {
  color: #222;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  list-style-type: none;
  padding: 0; }

.post-main {
  background-color: #f3f6f7;
  margin: 24px; }

.post-main p {
  text-align: left; }

.postText {
  margin: 24px 100px; }

.postText h3 {
  margin-left: 40px;
  text-align: left; }

.blogList li {
  margin-left: 40px; }

.postText img {
  text-align: center; }
