header {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(34, 34, 34, 0.2);
  display: block;
  list-style-type: none;
  margin: 0;
  min-height: 50px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }

#logo {
  float: left;
  padding: 12px 24px; }

nav {
  margin-right: 24px; }

.nav-item {
  color: #222;
  float: right;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 50px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none; }
  .nav-item:hover {
    color: #61baab; }

.contactLink {
  color: #f27171; }
