<!DOCTYPE html>
<html>
  <head>
    <title>Melanie Stoeckle | Portfolio</title>
    <link href="/dist/css/all.css" type="text/css" rel="stylesheet">
    <link href="/images/favicon-logo.png" rel="icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/e81701c933.js"></script>
  </head>

  <body>
    
    <header>
      <a href="/"><img src="/app/images/logo-200px.png" alt="Logo" id="logo" width="30"></a>
      <nav>
        <a href="/#contact-main" class="nav-item contactLink">CONTACT ME</a>
        <a href="/blog" class="nav-item">BLOG</a>
        <a href="/resume" class="nav-item">RESUME</a>
        <a href="/projects" class="nav-item">PROJECTS</a>
        <a href="/" class="nav-item">HOME</a>
        <!-- <a href="/about" class="nav-item">ABOUT</a> -->  
      </nav>
    </header>

    {{content}}

    <footer class="footer">
      <p class="footer-text">© 2017 Melanie Stoeckle</p>
      <div class="social-media">
        <a href="https://dribbble.com/melanieps1" target=_blank class="footer-links"><i class="fa fa-dribbble fa-lg"></i></a>
        <a href="https://github.com/melanieps1" target=_blank class="footer-links"><i class="fa fa-github fa-lg"></i></a>
        <a href="https://www.instagram.com/melanieps1/" target=_blank class="footer-links"><i class="fa fa-instagram fa-lg"></i></a>
        <a href="https://www.linkedin.com/in/melaniestoeckle" target=_blank class="footer-links"><i class="fa fa-linkedin fa-lg"></i></a>
        <a href="https://stackoverflow.com/users/8503249/melanieps1" target=_blank class="footer-links"><i class="fa fa-stack-overflow fa-lg"></i></a>
      </div>
    </footer>

    <script type="text/javascript" src="app/js/main.js"></script>

</body>
</html>